* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: scroll; 
    }

html {
    
    background: #4ABDAC !important;
    height: 100%;
    margin:0;
    padding:0;
    display:scroll;

    border-style: dotted;
    border-color:orangered;
}

body {
    /*height: 100%;*/
    width: 100%;
    background-color: #4ABDAC;
    /*margin-top: 80px;*/
    padding-top: 80px;
    /*display: scroll;  */

    border-style: dashed;
    border-color: purple;
    
}

.portrait {
    border-style: solid;
    border-color:  #F7B733;
    padding: 10px;
    width:100%; /* you can use % */
    height: auto;
    margin-bottom: 6%

    /*position: relative; 
    left: 250px;
    bottom: 362px;*/
}

.introduction {
    margin-bottom: 5%;
}

.contact-info {
    text-align: center;
}

.mr-3 {
    /*border-style:solid;
    border-color: red;*/
    padding: 6%;
    
}

/*.btn-group {
    position: fixed;
    bottom:   0;
    border-style:solid;
    border-color: purple;
}*/
